<% provide(:title, current_user.email)%>
<%= render 'devise/shared/error_messages' %>
<div class="row">
  <div class="col-lg-9">
    <div class="center_column">
      <h2 class="h2">
        <% if params[:q].empty? %>
          すべての検索結果
        <% else %>
          <%= params[:q]%>の検索結果</h2>
        <% end %>
      <hr>

      <% if @task_results.any? %>
        <h3>やることファイルの検索結果</h3>
        <%= render @task_results %>
      <% else %>
        <p class="text-danger">やることファイルは見つかりませんでした。</p>
      <% end %>

      <% if @todo_results.any? %>
        <h3>やることの検索結果</h3>
          <%= render partial: 'layouts/todo_list', locals: {todos: @todo_results} %>
      <% else %>
        <p class="text-danger">やることは見つかりませんでした。</p>
      <% end %>

    </div>
  </div>
  <aside class="col-lg-3 visible-lg">
    <%= render 'layouts/user_info' %>
  </aside>
</div>

<div id="edit-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
