<% provide(:title, current_user.email)%>
<%= render 'devise/shared/error_messages' %>
<div class="row">
  <aside class="col-md-3">
    <%= render 'layouts/user_info' %>
  </aside>
  <div class="col-md-6">
    <div class="task_list">
      <h2>タスクリスト</h2>
      <% if @tasklists.any? %>
        <% @tasklists.each do |tasklist| %>
        <div id="<%= tasklist.id %>" class="panel panel-default">
          <div class="panel-heading">
              <div class="row">
                <div class="col-xs-8">
                  <h3 class="panel-title"><%= tasklist.title %></h3>
                </div>
                <div class="col-xs-4">
                  <div class="text-right">(全10件中8件完了)</div>
                </div>
              </div>
          </div>
          <div class="panel-body">
            <p>もっとも早いToDoはーーーーです。(2018/1/4まで)</p>
            <p>作成日時: <time><%= tasklist.created_at %></time></p>
          </div>
          <div class="panel-footer">
            <div class="row">
              <div class="col-xs-8">
                <button type="button" name="button" class="btn btn-block btn-task">todoを見る</button>
              </div>
              <div class="col-xs-4">
                <%= link_to "削除する", task_list_path(tasklist.id), method: :delete, class: "btn btn-block btn-danger", data: { confirm: "削除していいですか？"} %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      <% else %>
        <p>まだタスクリストは登録されていません</p>
      <% end %>
    </div>
    <!-- task_list -->
  </div>
  <div class="col-md-3">
    <div class="extra_info">
      <h2 class="extra-info-title">タスクリストを追加する</h2>
      <!-- エラーメッセージ -->
      <% if @new_tasklist.errors.any? %>
      <div id="error_explanation">
        <% @new_tasklist.errors.full_messages.each do |message| %>
        <strong><%= message %></strong>
      </div>
      <% end %>
      <% end %>
      <%= form_for @new_tasklist do |form| %>
        <div class="form-group">
        <%= form.label :title %>
        <%= form.text_field :title, placeholder: "タスクリスト名を入力", class: "form-control" %>
        <em>20文字以内で入力してください。</em>
        </div>
        <div class="form-group">
        <%= form.submit "作成する", class: "btn btn-block btn-primary" %>
        </div>
      <% end %>
      <h2>最近</h2>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">最近、追加したTodo</div>
          <ul class="list-group">
            <li class="list-group-item">テスト　期限：2017/12/31</li>
            <li class="list-group-item">テスト　期限：2017/12/31</li>
            <li class="list-group-item">テスト　期限：2017/12/31</li>
          </ul>
        </div>
    </div>
  </div>
  </div>
</div>
