<% @expired_todos.each do |todo| %>
<div class="text-<%= todo_status_for_css todo %>">
  <%= link_to task_list_todos_path(todo.task_list.id) do %>
  <p class="h3"><%= todo.item %></p>
  <p><%= todo_status(todo) %></p>
  <p>期限: <%= todo.todo_limit %></p>
  <% end %>
</div>
<hr>
<% end %>
