<div id="todo-<%= todo.id %>" class="panel panel-default">
  <div class="panel-body">
    <h3 class="h1"><%= todo.item %></h3>
    <hr>
    <p class="h4"><%= todo_status todo %></p>
    <p>期限: <time><%= todo.todo_limit %></time></p>
    <p>作成日時: <time><%= todo.created_at %></time></p>
    <hr>
    <div class="row">
      <div class="col-xs-6">
          <%= link_to todos_status_path(todo.id), method: :patch, class: "btn btn-block btn-success" do %>
            <% button_status todo.status %>
          <% end %>
      </div>
      <div class="col-xs-6">
        <%= link_to "削除する", task_list_todo_path(todo.task_list.id, todo.id), method: :delete, class: "btn btn-block btn-danger", data: { confirm: "削除していいですか？"} %>
      </div>
    </div>
  </div>
</div>
