<div id="<%= todo.id %>" class="panel panel-default">
  <div class="panel-body">
    <h3 class="h2"><%= todo.item %></h3>
    <p><%= todo_status todo.status %></p>
    期限: <time><%= todo.todo_limit %></time>
    作成日時: <time><%= todo.created_at %></time>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-xs-8">
          <%= link_to task_list_todo_path(todo.task_list.id, todo.id), method: :patch, class: "btn btn-block btn-success" do %>
            <% button_status todo.status %>
          <% end %>
      </div>
      <div class="col-xs-4">
        <%= link_to "削除する", task_list_todo_path(todo.task_list.id, todo.id), method: :delete, class: "btn btn-block btn-danger", data: { confirm: "削除していいですか？"} %>
      </div>
    </div>
  </div>
</div>
