<% provide(:title, current_user.email)%>
<div class="row">
  <div class="col-md-12">
    <p class="h2"><%= current_user.email %></p>
    <hr>
  </div>
</div>
<%= render 'devise/shared/error_messages' %>
<div class="row">
    <div class="col-lg-3 col-md-5">
      <h2 class="extra-info-title">やることを追加する</h2>
      <hr>
      <!-- エラーメッセージ -->
      <% if @new_todo.errors.any? %>
      <div id="error_explanation">
        <% @new_todo.errors.full_messages.each do |message| %>
          <%= message %><br>
        <% end %>
      </div>
      <% end %>
      <%= form_for @new_todo, url: task_list_todos_path do |form| %>
        <div class="form-group">
          <%= form.label :item %>
          <%= form.text_field :item, placeholder: "やることを入力", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.label :todo_limit %>
          <%= form.date_field :todo_limit, value: Time.now.strftime("%Y-%m-%d"), class: "form-control" %>
        </div>
        <div class="form-group">
          <%= form.submit "作成する", class: "btn btn-block btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-6  col-md-7">
      <div class="center_column">
      <h2 class="h2"><%= @tasklist.title %>のやること</h2>
      <hr>
      <% if @todos.any? %>
        <%= render @todos %>
        <%= paginate @todos %>
      <% else %>
        <p>まだ登録されていません。</p>
      <% end %>
      </div>
    </div>
    <div class="col-lg-3 visible-lg">
      <aside>
        <%= render 'layouts/user_info' %>
      </aside>
  </div>
</div>

<div id="edit-form" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
