<section class="user_info">
  <h2 class="h2">Menu</h2>
  <hr>
  <ul>
    <li>
      <%= link_to users_path do %>
        <span class="glyphicon glyphicon-list"></span>やることファイル一覧
      <% end %>
    </li>
    <li>
      <%= link_to all_todos_path do %>
        <span class="glyphicon glyphicon-list-alt"></span>すべてのやること
      <% end%>
    </li>
    <li>
      <%= link_to before_work_todos_path do %>
        <span class="glyphicon glyphicon-list-alt"></span>完了していないこと
      <% end%>
    </li>
    <li>
      <%= link_to done_all_todos_path do %>
        <span class="glyphicon glyphicon-list-alt"></span>完了していること
      <% end%>
    </li>
    <li>
      <%= link_to expired_all_todos_path do %>
        <span class="glyphicon glyphicon-flash"></span>期限ぎれのこと
      <% end%>
    </li>
  </ul>
</section>
